@media all and (max-width: 1024px)
{


     body
    {
        width: 100vw;
    }
    .diplomas {
        height: 200px;
        border-right-width: medium;
        width: 40%;
        box-sizing: border-box;
    }

    .contenedor, .experiencia_laboral {
        width: 95%;
    }
    .columns {

        display: flex;
        margin: 10px;
        flex-wrap: nowrap;
        align-content: flex-start;
        flex-direction: column;
        width: 55%;
    }
    .main_body {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        flex-wrap: nowrap;
        justify-content: flex-start;
        width: 100%;
    }
    .columna_1 {
        width: 40%;
    }
    .header
    {
        width: 250px;
    }
 

}

@media all and (max-width: 600px)
{
    body
    {
        width: 95vw;
    }
    .contenedor, .experiencia_laboral
    {
        width: 88vw;
        margin: 5px;
    }
    
    header, .indice {

        height: auto;
        width: 88vw;
        margin: 5px;

    }
    .main_body {
        display: flex;
        width: 90vw;
        justify-content: flex-start;
        align-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
    }
    .main_body_cd
    {
    width: 80vw;
    }
    .diplomas
    {
        width: 100%;
        height: 200px;
        border-right-width: medium;

        
    }

}