body
{
    font-family: 'Ubuntu';
    margin: 10px;
    width: 1400px;
}

h1
{
    margin: 0px 7px;
    padding: 2px;
}

article, h3
{
    font-family: 'Ubuntu';
 
}

.justify
{
    text-align: justify;
}

h2
{
    font-size: 20px;
    color:#3f192f;

}

p
{
    color: #180212;
    overflow-wrap: break-word;
    
}

.border
{
    border-top: black solid 1px;
}

h3
{
    font-size: 16px;
    padding: 1px;
    height: auto;
    line-height: auto;
    font-family: 'Ubuntu';
    
}
.columna_1
{
    width: auto;
   
}

header, .indice, .diplomas
{
    margin: 5px;
    height: auto;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    border: black 1px solid;
    
}

.diplomas {
    height: 230px;
    border-right-width: medium;
    width: 30%;
    box-sizing: border-box;
}

.main_body
{
    display: flex;
    width: 1400px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
 
}

.main_body_cd
{
    display: flex;
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
 
}

.columns
{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 70%;
}



.contenedor, .experiencia_laboral
{
    padding: 5px 10px;
    margin: 5px;
    border: black 1px solid; 
    width: 45%;
    border-radius: 15px;
    box-shadow: #f8dadac7 1px 1px  10px;
    height: auto;
    
}



.acerca_de_mi, .habilidades, .experiencia_laboral, .estudios, .idiomas
{
    background-color: #ece9e9;
}


.acerca_de_mi:hover, .habilidades:hover, .experiencia_laboral:hover, .estudios:hover, .idiomas:hover
{
    background-color: white;
}

a
{
    text-decoration: none;
    color: #7c4f77;
}

#a_blink
{
    color: rgba(136, 6, 45, 0.808);
}

#blink_link
{
    
    animation-name: parpadeo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }