@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@300&display=swap');

*
{
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 600;
    font-size: 16px;

}

body
{
    background-color: #f2b3e5;
    background-color: #ffe6f5;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='39' height='19.5' viewBox='0 0 39 19.5'%3E%3Cdefs%3E%3Crect stroke='%23ffe6f5' stroke-width='0.38' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='2' height='2' patternUnits='userSpaceOnUse'%3E%3Cg stroke='%23ffe6f5' stroke-width='0.38'%3E%3Crect fill='%23fae1f0' width='1' height='1'/%3E%3Crect fill='%23ffe6f5' width='1' height='1' x='1' y='1'/%3E%3Crect fill='%23f5ddeb' width='1' height='1' y='1'/%3E%3Crect fill='%23f0d8e6' width='1' height='1' x='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='b' width='5' height='11' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23ebd4e1'%3E%3Cuse xlink:href='%23s' x='2' y='0'/%3E%3Cuse xlink:href='%23s' x='4' y='1'/%3E%3Cuse xlink:href='%23s' x='1' y='2'/%3E%3Cuse xlink:href='%23s' x='2' y='4'/%3E%3Cuse xlink:href='%23s' x='4' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='8'/%3E%3Cuse xlink:href='%23s' x='3' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='7' height='7' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23e5cfdc'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='3' y='4'/%3E%3Cuse xlink:href='%23s' x='5' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='11' height='5' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23ffe6f5'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='6' y='3'/%3E%3Cuse xlink:href='%23s' x='8' y='2'/%3E%3Cuse xlink:href='%23s' x='3' y='0'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3Cg fill='%23e0cad8'%3E%3Cuse xlink:href='%23s' x='8' y='3'/%3E%3Cuse xlink:href='%23s' x='4' y='2'/%3E%3Cuse xlink:href='%23s' x='5' y='4'/%3E%3Cuse xlink:href='%23s' x='10' y='0'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='23' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23eb21db'%3E%3Cuse xlink:href='%23s' x='2' y='5'/%3E%3Cuse xlink:href='%23s' x='23' y='13'/%3E%3Cuse xlink:href='%23s' x='4' y='18'/%3E%3Cuse xlink:href='%23s' x='35' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='61' height='31' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23eb21db'%3E%3Cuse xlink:href='%23s' x='16' y='0'/%3E%3Cuse xlink:href='%23s' x='13' y='22'/%3E%3Cuse xlink:href='%23s' x='44' y='15'/%3E%3Cuse xlink:href='%23s' x='12' y='11'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='39' height='19.5'/%3E%3Crect fill='url(%23b)' width='39' height='19.5'/%3E%3Crect fill='url(%23c)' width='39' height='19.5'/%3E%3Crect fill='url(%23d)' width='39' height='19.5'/%3E%3Crect fill='url(%23e)' width='39' height='19.5'/%3E%3Crect fill='url(%23f)' width='39' height='19.5'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}  

td, tr{
    border: white;
}

a
{
    
    color: black;
    text-decoration: black;
}

b {
    margin-right: 20px;
    min-width: fit-content;
}

div#related {
    margin-right: 20px;
}

.layout
{
    display: grid;
    width: min-content;

}
#fill_data
{
    grid-column: 1/2;

}

#show_data {
    grid-column: 2/3;
    width: auto;
}

.container.related-saved {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-around;
    width: -webkit-fill-available;
}


.go_top
{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #2e0025;
    border: 1px  solid antiquewhite;
    position: fixed;
    top: 1;    
}
div#fill_data {
    max-width: min-content;
}

button
{
    padding: 10px;
    border-radius: 15px;
    border: 1px solid palevioletred;
    background-color: pink;
}   

button:hover
{
    background-color: rgb(124, 10, 86);
    color: white;
}

li>ul>li>a.tagfilter 
{
    font-family: 'Encode Sans Condensed', sans-serif;
    color: rgb(143, 14, 104);
}

.container.save_data.fixed
{
    position: sticky;
    top: 0;
    width: fit-content;
 

}
.container
{
    border: solid 1px rgb(163, 31, 119);
    padding: 10px;
    border-radius: 15px;
    margin: 15px;
    background-color: whitesmoke;
}
input[type=text]
{
    border: solid 1px rgb(163, 31, 119);
    border-radius: 10px;
    padding: 5px;
    height: 20px;
}

#btn-2
{
    position: fixed;
    top: 1;
    transform: translateY(15px);
    border-radius: 50%;
    padding: 7px;
    background-color: rosybrown;
    cursor: pointer;
    margin: 4px 0;
}



div#show_data {
    width: 650px;
}

p#autotags>a.tagfilter
{
  
    color: rgb(163, 46, 95);
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    border: pink 1px solid;
}

a.tagfilter {
    margin: 3px; 
}

p#autotags {
    line-height: 32px;
}

#tags {
    width: 50%;
}
h2 {
    border-bottom: 1px solid black;
}
.tagfilter {
    text-decoration: none;
    font-family: monospace;
}

#bookmarks {
    list-style: none;
    background: pink;
    border-radius: 25px;
    padding: 20px;
    width: -webkit-fill-available;
}


.link_border
{
    border-bottom: black;
    border: 1px solid;
}


table {
    width: 100%;
    padding: 1em;
}
#layout td {
    padding: 0.5em;
    border: 1px solid silver;
}
#add_bookmark td {
    padding: 0.5em;
    border: 0px solid red;
}
.whenedit {
    display: none;
}
span.context {
    cursor: pointer;
}
#footer {
    text-align:right;
    padding: 5px;
}
.ui-menu-item {
  font-size: 10pt;
}


.tooltip1 {
    position: fixed;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip1 .txt-1 {
    visibility: hidden;
    width: max-content;
    background-color: rgb(226, 187, 187);
    color: rgb(156, 0, 78);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    margin-left: 15px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  

  .tooltip1:hover .txt-1 {
    visibility: visible;
    opacity: 1;
  }

  .tooltip2 {
    position: fixed;
    display: inline-block;
    border-bottom: 1px dotted black;

  }

  .tooltip2 .txt-2 {
    visibility: hidden;
    width: fit-content;
    background-color: rgb(226, 187, 187);
    color: rgb(156, 0, 78);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    margin-left: 15px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  
  
  .tooltip2:hover .txt-2 {
    visibility: visible;
    opacity: 1;
  }
  

  .tooltip3 {
    position: fixed;
    display: inline-block;
    border-bottom: 1px dotted rgb(6, 62, 167);
  }
  
  .tooltip3 .txt-3 {
    visibility: hidden;
    width: max-content;
    background-color: rgb(226, 187, 187);
    color: rgb(233, 22, 127);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    margin-left: 15px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  

  .tooltip3:hover .txt-3 {
    visibility: visible;
    opacity: 1;
  }
  .go_back
  {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #4054af;
      border: 1px  solid antiquewhite;
      position: fixed;
      top: 45px;    
  }




  div#tag-list {
    grid-column: 3/4;
    grid-row: 1/4;
    width: 600px;
}

div#show_data {
    width: 650px;
    grid-row: 1/6;
}

div#filter-tag {
    grid-column: 1/2;
    grid-row: 1/2;
}

div#fill-link {
    grid-column: 1/2;
    /* grid-row: 2/4; */
}


@media (max-width:1400px)
{

    div#tag-list {
        grid-column: 1/2;
        grid-row: 3/4;

    }
    div#show_data {
        width: auto;
        grid-row: 1 / 6;
    }
    .layout {
        display: grid;
        width: auto;
    }


}

@media (max-width:1100px)
{

    div#tag-list {
        grid-column: 1/2;
        grid-row: 4/5;
        width: inherit;
    }

    div#show_data {
        width: inherit;
        grid-row: 5/6;
        grid-column: 1/2;
    }

        .layout {
            display: grid;
            width: auto;
            margin: 15px;
        }

        input[type=text] {

            width: -webkit-fill-available;
        }
        .go_top
        {
            padding: 8px;
        
        }


        button#btn-2 {
            padding: 15px;
            margin: 25px 0;
        }


        .tooltip2 .txt-2, .tooltip1 .txt-1 {
            margin-left: 50px;
        }

}
