@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@300&display=swap');

*
{
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.5px;
}

body
{
    width: 300px;
    height: 300px;
    background-color: rgb(190, 186, 190);
    background-image: radial-gradient(rgba(166, 198, 247, 0.788) 10%, transparent 11%),
      radial-gradient(rgba(255, 255, 255, 0.89) 10%, transparent 11%);
    background-size: 150px 150px;
    background-position: 0 0, 60px 20px;
    background-repeat: repeat;
} 

#hrcolor
{
    border-color: #3c3b3f;

}
td {
    vertical-align: top;
}

#iddata {
    background-color: rgba(189, 171, 201, 0.384);
    padding: 10px;
}

input#newLink {
    height: 200px;
}


textarea#newLink {
    width: 350px;
    height: 200px;
    border: solid 1px rgb(7, 7, 7);
    border-radius: 10px;
    padding: 5px;
}




td, tr{
    border: white;
}

a
{
    
    color: black;
    text-decoration: black;
}

b {
    margin-right: 20px;
    min-width: fit-content;
}

div#related {
    margin-right: 20px;
}

.layout
{
    display: grid;
    height: 100vh;

}
#fill_data
{
    grid-column: 1/2;

}

#show_data {
    grid-column: 2/3;
    width: auto;
}

.container.related-saved {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-around;
    width: -webkit-fill-available;
}


.go_top
{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #2e0025;
    border: 1px  solid antiquewhite;
    position: fixed;
    top: 1;    
}
div#fill_data {
    max-width: min-content;
}

button
{
    padding: 10px;
    border-radius: 15px;
    border: 1px solid rgb(91, 115, 143);
    background-color: rgb(226, 225, 225);
}   

button:hover
{
    background-color: rgb(209, 209, 209);
    color: rgb(32, 32, 32);
}

li>ul>li>a.tagfilter 
{
    font-family: 'Encode Sans Condensed', sans-serif;
    color: rgb(35, 81, 141);
}

.container.save_data.fixed
{
    position: sticky;
    top: 0;
    width: fit-content;
 

}
.container
{
    border: solid 1px rgb(14, 13, 13);
    padding: 10px;
    border-radius: 15px;
    margin: 15px;
    background-color: whitesmoke;
}
input[type=text]
{
    border: solid 1px rgb(54, 54, 54);
    border-radius: 10px;
    padding: 5px;
    height: 20px;
}

textarea
{
    border: solid 1px rgb(54, 54, 54);
    border-radius: 10px;
    padding: 5px;

}


#btn-2
{
    position: fixed;
    top: 1;
    transform: translateY(15px);
    border-radius: 50%;
    padding: 7px;
    background-color: rgb(40, 152, 167);
    cursor: pointer;
    margin: 4px 0;
}



div#show_data {
    width: 650px;
}

p#autotags>a.tagfilter
{
  
    color: rgb(0, 0, 0);
    background-color: rgb(160, 205, 241);
    padding: 5px;
    border-radius: 15px;
    border: rgb(37, 36, 36) 1px solid;
}

a.tagfilter {
    margin: 3px; 
}

p#autotags {
    line-height: 32px;
}

#tags {
    width: 50%;
}
h2 {
    border-bottom: 1px solid black;
}
.tagfilter {
    text-decoration: none;
    font-family: monospace;
}

#bookmarks {
    list-style: none;
    background: rgb(185, 184, 184);
    border-radius: 25px;
    padding: 20px;
    width: -webkit-fill-available;
}


.link_border
{
    border-bottom: black;
    border: 1px solid;
}


table {
    width: 100%;
    padding: 1em;
}
#layout td {
    padding: 0.5em;
    border: 1px solid silver;
}
#add_bookmark td {
    padding: 0.5em;
    border: 0px solid red;
}
.whenedit {
    display: none;
}
span.context {
    cursor: pointer;
}
#footer {
    text-align:right;
    padding: 5px;
}
.ui-menu-item {
  font-size: 10pt;
}


.tooltip1 {
    position: fixed;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip1 .txt-1 {
    visibility: hidden;
    width: max-content;
    background-color: rgb(226, 187, 187);
    color: rgb(156, 0, 78);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    margin-left: 15px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  

  .tooltip1:hover .txt-1 {
    visibility: visible;
    opacity: 1;
  }

  .tooltip2 {
    position: fixed;
    display: inline-block;
    border-bottom: 1px dotted black;

  }

  .tooltip2 .txt-2 {
    visibility: hidden;
    width: fit-content;
    background-color: rgb(226, 187, 187);
    color: rgb(156, 0, 78);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    margin-left: 15px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  
  
  .tooltip2:hover .txt-2 {
    visibility: visible;
    opacity: 1;
  }


  .tooltip3 {
    position: fixed;
    display: inline-block;
    border-bottom: 1px dotted rgb(6, 62, 167);
  }
  
  .tooltip3 .txt-3 {
    visibility: hidden;
    width: max-content;
    background-color: rgb(226, 187, 187);
    color: rgb(233, 22, 127);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    margin-left: 15px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  

  .tooltip3:hover .txt-3 {
    visibility: visible;
    opacity: 1;
  }
  .go_back
  {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #4054af;
      border: 1px  solid antiquewhite;
      position: fixed;
      top: 45px;    
  }


  
  div#tag-list {
    grid-column: 3/4;
    grid-row: 1/4;
    width: 600px;
}

div#show_data {
    width: 650px;
    grid-row: 1/6;
}

div#filter-tag {
    grid-column: 1/2;
    grid-row: 1/2;
}

div#fill-link {
    grid-column: 1/2;
    /* grid-row: 2/4; */
}


@media (max-width:1600px)
{

    div#tag-list {
        grid-column: 1/2;
        grid-row: 3/4;

    }
    div#show_data {

        grid-row: 1 / 6;
    }
    .layout {
        display: grid;
        width: auto;
    }


}

@media (max-width:1100px)
{

    div#tag-list {
        grid-column: 1/2;
        grid-row: 4/5;
        width: inherit;
    }

    div#show_data {
        width: inherit;
        grid-row: 5/6;
        grid-column: 1/2;
    }

        .layout {
            display: grid;
            width: auto;
            margin: 15px;
        }

        input[type=text] {

            width: -webkit-fill-available;
        }
        .go_top
        {
            padding: 8px;
        
        }


        button#btn-2 {
            padding: 15px;
            margin: 25px 0;
        }


        .tooltip2 .txt-2, .tooltip1 .txt-1 {
            margin-left: 50px;
        }

}
