body
{
    background-color: rgba(114, 114, 114, 0.795);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#contenedor {
    display: flex;
    flex-wrap: wrap;
}


.contenedor_libro {
    display: grid;
    width: fit-content;
    background-color: rgb(194, 196, 197);
    border-radius: 15px;
    box-shadow: rgb(0 0 0 / 76%) 5px 5px 20px;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    height: fit-content;
}

img
{
    border-radius: 25px;
    box-shadow: rgb(41, 41, 68) 7px 7px 15px;
}

.portada_libro, img
{
    width: 250px;
    height: 350px;
    margin: 0px 5px 5px 0px;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    
}



.datos_libro
{
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: self-end;
    padding:  010px;

}

.detalle_libro
{
    grid-column: 1/2;
    grid-row: 3/4;
    padding:  010px;
 
}

span
{
    color: black;
    background-color: rgb(219, 219, 219);
    padding: 5px;
    margin: 5px;
}

h2
{
    color: rgb(10, 6, 37);
    border-radius: 15px;
    background-color: rgb(213, 217, 219);
    padding:  5px;

}


h3
{
    color: rgb(255, 255, 255);
    border-radius: 15px;
    background-color: rgb(130, 133, 130);
    padding:  5px;

}

h4
{
    margin: 10px;
}